<div id="page-sidebar">
    <div class="scroll-sidebar">
        <ul id="sidebar-menu">
            <li class="header"><span>Overview</span></li>
            <li>
                <a href="idashboard.html" title="iDashboard">
                    <i class="glyph-icon icon-linecons-desktop"></i>
                    <span>Admin dashboard</span>
                </a>
            </li>
            <li class="divider"></li>
            <li class="no-menu">
                <a href="#profile" title="Profile">
                    <i class="glyph-icon icon-linecons-user"></i>
                    <span>Who Am I (User Profile)</span>

                </a>
            </li>
            <li class="header"><span>Site Sections</span></li>
            <li>
                <a href="#documentme" title="iDocumentMe">
                    <i class="glyph-icon icon-linecons-doc"></i>
                    <span>iDocumentMe</span>
                </a>

            </li>
            <li>
                <a href="#secureme" title="iSecureMe">
                    <i class="glyph-icon icon-linecons-lock"></i>
                    <span>iSecureMe</span>
                </a>

            </li>
            <li>
                <a href="imediame.html" title="iMediaMe">
                    <i class="glyph-icon icon-linecons-photo"></i>
                    <span>iMediaMe</span>
                </a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="imediame.html" title="Photos"><span>Photos</span></a></li>
                        <li><a href="imediame.html" title="Videos"><span>Videos</span></a></li>

                    </ul>
                </div><!-- .sidebar-submenu -->
            </li>
            <li>
                <a href="ishareme.html" title="iShareMe">
                    <i class="glyph-icon icon-linecons-comment"></i>
                    <span>iShareMe</span>
                </a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="ishareme.html" title="Facebook"><span>Facebook</span></a></li>
                        <li><a href="ishareme.html" title="Twitter"><span>Twitter</span></a></li>
                        <li><a href="ishareme.html" title="LinkedIn"><span>LinkedIn</span></a></li>

                    </ul>
                </div><!-- .sidebar-submenu -->
            </li>
            <li>
                <a href="igiftme.html" title="iGiftMe">
                    <i class="glyph-icon icon-linecons-heart"></i>
                    <span>iGiftMe</span>
                </a>

            </li>
            <li>
                <a href="ifindme.html" title="iFindMe">
                    <i class="glyph-icon icon-linecons-location"></i>
                    <span>iFindMe</span>
                </a>

            </li>
            <li>
                <a href="ibusinessme.html" title="iBusinessMe">
                    <i class="glyph-icon icon-linecons-shop"></i>
                    <span>iBusinessMe</span>
                </a>

            </li>
            <li class="header"><span>Account Management</span></li>
            <li>
                <a href="#" title="User Settings">
                    <i class="glyph-icon icon-linecons-params"></i>
                    <span>User Settings</span>
                </a>

            </li>
            <li>
                <a href="#" title="Calendar">
                    <i class="glyph-icon icon-linecons-calendar"></i>
                    <span>Calendar</span>
                </a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="calendar.html" target="_blank" title="day"><span>Day</span></a></li>
                        <li><a href="calendar.html" target="_blank" title="week"><span>Week</span></a></li>
                        <li><a href="calendar.html" target="_blank" title="month"><span>Month</span></a></li>
                        <li><a href="calendar.html" target="_blank" title="year"><span>Year</span></a></li>

                    </ul>
                </div><!-- .sidebar-submenu -->
            </li>
            <li>
                <a href="#" title="Mailbox">
                    <i class="glyph-icon icon-linecons-mail"></i>
                    <span>Mailbox</span>
                    <span class="bs-badge badge-success">6</span>
                </a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="mailbox-inbox.html" title="Inbox"><span>Inbox</span></a></li>
                        <li><a href="mailbox-compose.html" title="Compose message"><span>Compose message</span></a></li>
                        <li><a href="mailbox-single.html" title="Single message"><span>Single message</span></a></li>
                        <li><a href="login-5.html" target="_blank" title="Login page 5"><span>Login page 5</span></a></li>
                    </ul>
                </div><!-- .sidebar-submenu -->
            </li>
            <li>
                <a href="#lockscreen" title="Lockscreen">
                    <i class="glyph-icon icon-linecons-lock"></i>
                    <span>Lockscreen</span>
                </a>

            </li>
            <li>
                <a href="#" title="Tutorial">
                    <i class="glyph-icon icon-linecons-tv"></i>
                    <span>Tutorial</span>
                </a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="http://youtu.be/h49M1KtEbIY" target="_blank" title="youtube demo"><span>YouTube Demo</span></a></li>
                        <li><a href="http://youtu.be/h49M1KtEbIY" target="_blank" title="how to"><span>How to</span></a></li>
                        <li><a href="http://youtu.be/h49M1KtEbIY" target="_blank" title="guide"><span>Guide</span></a></li>
                    </ul>
                </div><!-- .sidebar-submenu -->
            </li>
            <li>
                <a href="#" title="Contact">
                    <i class="glyph-icon icon-linecons-mail"></i>
                    <span>Contact</span>
                </a>

            </li>
        </ul><!-- #sidebar-menu -->

    </div>
</div>